@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap");

.App {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.logo {
  margin: 2em auto;
}

h1,
h2 {
  font-family: "Josefin Sans", sans-serif;
}

h1 > a {
  font-size: 1rem;
}

.vertical {
  display: flex;
  margin: auto;
  width: auto;
}

.vertical > div {
  margin: auto;
}

.playbtn {
  position: fixed;
  right: 1rem;
  top: 50%;
  z-index: 100;
  display: flex;
  border-radius: 50%;
  padding: 0.5em 0.5em 0.5em;
  transform: scale(0.7);
  transform-origin: right center;
  transition: all 0.05s ease-in-out;
  filter: grayscale();
  background-color: rgba(159, 192, 252, 0.15);
}

.playbtn:hover {
  transform: scale(1);
  filter: none;
}

.center {
  margin: auto;
}

.flex {
  display: flex;
  gap: 0.5rem;
}

.flex-col {
  flex-direction: column;
}
